.jumbotron {
  padding-top: 6rem;
  background-color: #d3d3d3a2;
}
#project {
  background-color: #d3d3d3a2;
}

#contact {
  background-color: #d3d3d3a2;
}

section {
  padding-top: 5rem;
}
